<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-4">
            <table class="table">
                <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
                <br> <br>
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>ARTISTA</th>
                        <th>LUGAR</th>
                        <th>CAPACIDAD</th>
                        <th>FECHA</th>
                        <th>PRECIO</th>
                    </tr>  
                </thead>
                <tbody>
                    <tr th:each="concierto:${concierto}">
                        <td>${concierto.id_evento}</td>
                        <td>${concierto.nombre_artista}</td>
                        <td>${concierto.precio}</td>
                        <td>${concierto.fecha}</td>
                        <td>${concierto.capacidad}</td>
                        <td>${concierto.lugar}</td>
                        <td>
                <a class="btn btn-warning">Editar</a>
                <a class="btn btn-warning">Eliminar</a>
                </td>
                </tr>  
                </tbody>
            </table> 

        </div>
    </body>
</html>
